<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Addressee</title>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>
<br>
<h3 th:if="${message != null}" th:utext="${message}" style="color: red;"></h3>
<br>
<table border="1">
    <thead>
    <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "a : ${addressees}">
        <td th:utext="${a.addresseeEmail}">...</td>
        <td th:utext="${a.addresseeName}">...</td>
        <td>
            <form th:action="@{'/profile/addressees/' + ${userId}}" th:object="${a}" method="post">
                <input th:type="hidden" name="addresseeId" th:value="${a.addresseeId}" />
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<form th:action="@{/profile/addressee/add}" method="get">
    <input th:type="hidden" name="userId" th:value="${userId}" />
    <button type="submit">Add Addressee</button>
</form>
</body>
</html>