<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>
<div>
    <h2>Hello : <span th:utext="${user.userName}"></span></h2>
    <table border="1">
        <thead>
        <tr>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a th:href="@{'/profile/edit/name'}">Change Name</a></td>
        </tr>
        <tr>
            <td><a th:href="@{'/profile/edit/password'}">Change Password</a></td>
        </tr>
        <tr>
            <td><a th:href="@{'/profile/addressees/' + ${user.userId}}">Addressees</a></td>
        </tr>
        </tbody>
    </table>
    <br>
    <h3 th:if="${alert != null}" th:utext="${alert}" style="color: red;"></h3>
</div>
</body>
</html>